# Copyright (c) 2020-2026 gridDigIt Kft.
# Licensed under the EUPL-1.2-or-later.
# SPDX-License-Identifier: EUPL-1.2+
#
# Reports and summaries written by running the examples or their tests.
examples/data/out/
__pycache__/
.pytest_cache/
